
{
  "extends": "@lanp/eslint-config",
  "settings": {
    "import/resolver": {
      "alias": [
        ["app", "./src/app"],
        ["pageTypes", "./src/pageTypes"],
        ["styles", "./src/styles"],
        ["pages", "./src/pages"],
        ["test", "./src/test"],
        ["config", "./src/config"],
        ["server", "./server"],
        ["ducks", "./src/ducks"],
        ["utils", "./src/utils"],
        ["views", "./src/views"],
        ["components", "./src/views/components"],
        ["sections", "./src/views/sections"],
        ["icons", "./src/views/icons"]
      ]
    }
  }
}