.home {

  &__add-user-btn {
    margin-left: 20px;
    margin-top: 2px;
  }
}

.users-table {

  &__header {
    background-color: var(--gs-1);
    border-radius: 8px;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 4px;
    color: var(--main-color-1);
  }

  &__name {
    width: 20%;
  }

  &__email {
    width: 20%;
  }

  &__company {
    width: 20%;
  }

  &__options {
    width: 25px;
  }

   &__item {
    height: 55px;
    background-color: var(--gs-1);
    padding: 0 20px;
    border-radius: 8px;
    z-index: 0;

    &:hover {
      z-index: 2;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      font-weight: 500;
      cursor: pointer;
    }
   }

   &__item + &__item {
     margin-top: 2px;
   }
}

.empty-data {
  width: 100%;
  margin-bottom: 40px;
  padding: 30px 40px;
  background-color: var(--gs-1);
  border-radius: 5px;

  &__caption {
    margin-bottom: 10px;
    color: var(--g-8);
  }

  &__text {
    color: var(--gs-7);
  }
}
