// Colors variables

:root {
  --gs-1: #ffffff;
  --gs-2: #f7f9fc;
  --gs-3: #f0f5fc;
  --gs-4: #e6edf7;
  --gs-5: #cfd8e6;
  --gs-6: #bac6d8;
  --gs-7: #a6aebd;
  --gs-8: #929aa9;
  --gs-9: #727d93;

  --ac-1: #e7ecf2;
  --ac-2: #f7f9fc;

  --main-color-1: #534bae;
  --main-color-2: #1a237e;
  --main-color-3: #000051;

  --purple-1: #ff79ff;
  --purple-2: #e040fb;
  --purple-3: #aa00c7;

  --blue: #67A0FF;

  --text-on-dark: #ffffff;
  --text-on-light: #000000;

  --g-1: #d4d4d4;
  --g-2: #bababa;
  --g-3: #a1a1a1;
  --g-4: #878787;
  --g-5: #6e6e6e;
  --g-6: #545454;
  --g-7: #3b3b3b;
  --g-8: #212121;
  --g-9: #0f0f0f;

  --green: #3db052;
  --green-1: #d3f8de;
  --green-2: #9dedb5;
  --green-3: #59df7f;
  --green-4: #4fc971;
  --green-5: #31b757;
  --green-6: #1bae45;

  --red: #ec6e47;
  --red-1: #ffe8e8;
  --red-2: #ff9b9b;
  --red-3: #ff7373;
  --red-4: #ed5555;
  --red-5: #e23f3f;
  --red-6: #d72525;

  --yellow-1: #fefbe5;
  --yellow-2: #ffff7b;
  --yellow-3: #ffed67;
  --yellow-4: #ffd953;
  --yellow-5: #f5cf49;
  --yellow-6: #ecc711;
}
