.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.uppercase {
  text-transform: uppercase;
}

.text-medium {
  font-weight: 500;
}

.h1,
.h2,
.h3,
.h4,
.c1,
.c2,
.c3 {
  font-family: "Roboto", sans-serif;
}

.h1,
.h2,
.h3,
.h4 {
  line-height: 30px;
}

.h1 {
  font-size: 22px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 18px;
}

.h4 {
  font-size: 16px;
}

.c1,
.c2,
.c3 {
  line-height: 20px;
}

.c1 {
  font-size: 14px;
}

.c2 {
  font-size: 13px;
}

.c3 {
  font-size: 12px;
}

.p2,
.p3,
.p4 {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.p2 {
  font-size: 14px;
}

.p3 {
  font-size: 13px;
}

.p4 {
  font-size: 12px;
}

.text-on-dark {
  color: var(--text-on-dark);
}

.text-on-light {
  color: var(--text-on-light);
}